.line {
    fill: none;
    stroke: darkblue;
    stroke-width: 3px;
}

.circle {
    fill: rgb(0, 0, 255)
}

.area {
    fill: rgb(91, 162, 255);
}

g .tick text {
    font-size: 14px;
    fill: rgb(0, 6, 93);

}

g .tick line {
    color: darkblue;
    stroke-width: 2px;
}

